	Bsr main
	HALT
main:
	LDC 1
	LDS 0
	LDLA 37
	STA 0
	AJS -1
	RET
square:
	LDL 37
	LDL 37
	MUL
	LDS 0
	LDLA 37
	STA 0
	AJS -1
	LDL 37
	AJS -1
	RET
	RET
abs:
	LDL 37
	LDC 0
	LT
	BRF 15
	LDC 0
	LDL 37
	SUB
	LDS 0
	LDLA 37
	STA 0
	AJS -1
	BRA 0
	LDL 37
	AJS -1
	RET
	RET
fac:
	LDC 1
	LDS 0
	LDLA 37
	STA 0
	AJS -1
	LDC 1
	LDS 0
	LDLA 37
	STA 0
	AJS -1
	BRA 26
	LDL 37
	LDL 37
	MUL
	LDS 0
	LDLA 37
	STA 0
	AJS -1
	LDL 37
	LDC 1
	ADD
	LDS 0
	LDLA 37
	STA 0
	AJS -1
	LDL 37
	LDL 37
	LE
	BRT -33
	LDL 37
	AJS -1
	RET
	RET
